# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Vercel output
.vercel/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# macOS files
.DS_Store

# VSCode settings
.vscode/

# PIP environment files
pip-log.txt
pip-delete-this-directory.txt

# Pyenv
.python-version

# Ignore mypy cache
.mypy_cache/

# Ignore pytest cache
.pytest_cache/

# Local environment variables
.env
